.header {
	background-color: #F5F5F9;
	overflow-x: hidden;
}

.header-menu {
	display: flex;
	max-width: 1220px;
	margin: 0 auto;
  padding: 0 20px;

	justify-content: space-between;
	box-sizing: border-box;
}

.header-menu__logo {
	margin-left: 6px;
	margin-right: 40px;
	margin-top: 15px;
}
