.reviews {
	position: relative;
	padding-bottom: 1px;
}

.reviews__add-review-button {
	position: absolute;

	top: 0;
	right: 8px;
	padding: 0 18px;

	font-weight: 600;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #D12136;

	border: 1px solid #D12136;
	box-sizing: border-box;
	z-index: 5;
}

.reviews__list {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	list-style: none;
}

.reviews__item {
	position: relative;
	margin-top: 20px;
	padding-bottom: 8px;

	&::after {
		position: absolute;
		content: "";
		display: block;

		bottom: 0;
		left: 0;

		width: 100%;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

.reviews__name {
	margin: 0;

	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #48494D;
}

.reviews__dignity {
	position: relative;
	padding-left: 19px;

	&::before {
		position: absolute;
		content: "+";
		display: block;

		top: 0;
		left: 0;

		font-weight: 600;
		font-size: 17px;
		line-height: 20px;
		color: #D12136;
	}
}

.reviews__limitations {
	position: relative;
	padding-left: 19px;

	&::before {
		position: absolute;
		content: "–";
		display: block;

		top: 0;
		left: 0;

		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		color: #D12136;
	}
}

.reviews__title {
	margin-top: 13px;
	margin-bottom: 4px;

	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

.reviews__answer {
	margin-top: 4px;
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 20px;
}

.reviews__rating {
	display: flex;
	margin-top: 21px;
}

.reviews__rating-list {
	display: flex;
	padding: 0;
}

.reviews__rating-value {
	display: block;

	width: 17px;
	height: 17px;
	padding-right: 4px;

	background-image: url("../../images/star.svg");
	background-repeat: no-repeat;
	
	&--active {
		background-image: url("../../images/star.svg");
	}

	&--deactive {
		background-image: url("../../images/star-off.svg");
	}
}

.reviews__rating-text {
	margin: 0;
	margin-left: 18px;

	font-size: 15px;
	line-height: 20px;
	color: #D12136;
}

.reviews__options {
	display: flex;
	margin-top: 26px;
}

.reviews__time {
	margin-top: 1px;

	font-size: 14px;
	line-height: 19px;
	color: #000000;
	opacity: 0.4;
}

.reviews__answer-button {
	margin: 0;
	margin-left: 27px;

	font-size: 16px;
	line-height: 22px;
	color: #D12136;
}
