.slider {
	display: inline-block;
	margin-top: 16px;
	max-width: 600px;
}

.slider__main-slide {
	position: relative;
}

.slider__flag {
	position: absolute;
	min-height: 30px;
	top: 0;
	left: 0;
	padding: 0 27px;

	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.07em;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;

	background: #D12136;
}

.slider__controls {
	display: flex;
	margin: 0 auto;
	margin-top: 35px;

	align-items: center;
}

.slider__images-list {
	display: flex;
	margin: 0 auto;
	padding: 0 6px;
}
.slider__images-list-item {
	margin: 0 12.5px;
	list-style-type: none;
}

.slider__mini-img {
	width: 128px;
	height: 80px;
}

.slider__arrow {
	position: relative;
	width: 52px;
	height: 52px;
	margin-bottom: 5px;

	border-radius: 50%;
	border: 1px solid #D7D9DF;
	background-color: #fff;

	&::after {
		content: "";
		display: block;
		width: 20px;
		height: 13px;
		top: calc(50% - 6.5px);
		left: calc(50% - 10px);

		position: absolute;
		background-image: url("../../images/arrow.svg");
	}

	&--after {

		transform: rotate(180deg);
	}

	&--disabled::after {
		background-image: url("../../images/arrow-disabled.svg");
	}
}
